@import "tailwindcss";

:root {
  --background: #fff8f0;
  --surface: #fdf4e8;

  --primary: #c97a3d;
  --secondary: #5a3b22;

  --text: #2f2f2f;
  --text-light: #6b6b6b;

  --border: #ead8c4;

  --font-heading: "Playfair Display", serif;
  --font-body: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text);
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
}
/* ================= STEAM ================= */

.steam{
  position:absolute;
  width:18px;
  height:70px;

  border-radius:999px;

  background:linear-gradient(
    to top,
    rgba(255,255,255,0),
    rgba(255,255,255,.75)
  );

  filter:blur(8px);

  opacity:.7;

  animation:steam 3.5s infinite ease-in-out;
}

.steam1{
  left:0;
}

.steam2{
  left:28px;
  animation-delay:.9s;
}

.steam3{
  left:56px;
  animation-delay:1.8s;
}

@keyframes steam{

  0%{
    transform:translateY(0) scale(.8);
    opacity:0;
  }

  20%{
    opacity:.7;
  }

  80%{
    opacity:.25;
  }

  100%{
    transform:translateY(-90px) scale(1.4);
    opacity:0;
  }

}